.button {
  border: none;
  border-radius: 7px;
  padding: 0.8rem;
  cursor: pointer;
}

.button-blue {
  background-color: #6586f5;
  color: white;
}

.button-softblue {
  background-color: #6586f533;
  color: black;
}

.button-yellow {
  background-color: #f5d465;
  color: black;
}
.button-gray{
  background-color: #97A3B6;
  color: #FFFF;
}
