.button {
    border: none;
    padding: 0.8rem;
    cursor: pointer;
}
.button-blue {
    background-color: #6586F5;
    color: white;
}

.button-softblue {
    background-color: #6586F533;
    color: black;
}

.button-yellow {
    background-color: #F5D465;
    color: black;
    width: 100%;
}