#ingresarCompras{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formCompra {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.producto-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.producto-valor {
  display: flex;
  gap: 2rem;
}

.producto-valor .input_container {
    flex: 1;
}
.producto-container .select-container {
    width: calc(50% - 1rem)
}

.cliente-ruc-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ruc-section{
  display: flex;
  gap: 1rem;
}
.search-client {
  display: flex;
  flex: 1;
  gap: 1rem;
}
.div-form-search{
  height: 40px;
  width: 100%;
  flex: 1;
  display: flex;
}
.search-client-input {
  flex: 1;
}

.cliente-ruc {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.cliente-ruc .input_container {
    flex: 1;
}


.dialogo-no-marcado {
  padding: 0.5rem;

  display: flex;

  position: absolute;
  justify-content: center;

  border-radius: 0.5rem;

  background-color: #171717;
  color: #ffff;
  width: 100%;
  height: 100%;
}

.crear-ruc {
  text-align: center;
  border: 1px solid #6586f5;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.buttons-crear-ruc {
  display: flex;
  gap: 1rem;
  width: 15%;
}
.buttons-crear-ruc .button {
  flex: 1;
}

.save-button {
  margin-top: auto;
}