.ingresar-compra {
  color: #6586f5;
  font-size: 1.5rem;
}

.formCompra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formCompra hr {
  width: 100%;
  border-top: 1px solid #e4e4e7;
}

.producto-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.producto-valor {
  display: flex;
  gap: 2rem;
}

.producto-valor .input_container {
    flex: 1;
}
.producto-container .select-container {
    width: calc(50% - 1rem)
}

.cliente-ruc-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-client {
  display: flex;
  gap: 1rem;
}
.search-client-input {
  flex: 1;
}

.cliente-ruc {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.cliente-ruc .input_container {
    flex: 1;
}


.dialogo-no-marcado {
  padding: 0.5rem;

  display: flex;

  position: absolute;
  justify-content: center;

  border-radius: 0.5rem;

  background-color: #171717;
  color: #ffff;
  height: 3rem;
}

/**TODO:**/
.crear-ruc {
  text-align: center;
  border: 1px solid #6586f5;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}
.buttons-crear-ruc {
  display: flex;
  gap: 1rem;
}
.buttons-crear-ruc button {
  width: 4rem;
  border-radius: 4px;
}
